body {
  margin: 0;
  font: 100% Myriad Pro, Helvetica, sans-serif; }

.page {
  position: relative;
  padding: 1em;
  overflow: hidden;
  background-color: #f0f0f0;
  background-image: url("lightpaperfibers.png"); }
  .page::before {
    content: "";
    position: absolute;
    height: 500px;
    width: 200%;
    top: -100px;
    left: -70%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    border-radius: 100%; }

main {
  position: relative;
  z-index: 10;
  margin-bottom: 140px; }

header h1 {
  margin: 0.67em 0;
  width: 100%;
  font-size: 3em;
  font-weight: lighter;
  text-align: center; }

header .lineThrough {
  text-decoration: line-through; }

header h2 {
  font-weight: 100; }

figure {
  text-align: center; }

h2 {
  font-weight: normal;
  font-size: 1.5em;
  text-align: center; }

section h3 {
  margin: .75em 0 .25em 0.5em;
  text-indent: -0.5em;
  font-size: 1.5em;
  font-weight: normal; }
  section h3::before {
    content: "*";
    margin-right: 0.1em;
    color: #0d47a1;
    font-weight: 900; }

section h4 {
  margin: 0 0 0.2em 0;
  font-weight: normal;
  font-size: 1em; }
  section h4 p {
    font-weight: normal; }

section .content {
  margin: 0 0 0 1.5em;
  padding: 0; }

section ol {
  margin: 0;
  list-style: none; }
  section ol li {
    margin: 0 0 0.5em; }

section a {
  color: #0d47a1;
  text-decoration: none;
  font-weight: bold; }

section p {
  margin: 0 0 .2em 2em;
  text-indent: -1em;
  font-weight: lighter;
  line-height: 1.2em; }

section .title {
  font-weight: 400; }

section#identity p {
  margin-left: 0;
  text-indent: 0; }
  section#identity p.strong, section#identity p .strong {
    font-weight: normal; }
  section#identity p a {
    font-weight: normal; }

section#others {
  clear: both; }

section dd {
  margin: 0 0 0.3em 0.5em;
  padding: 0;
  font-weight: lighter;
  line-height: 1.2em; }

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 250px;
  background: url("curl.png"); }
  footer a {
    display: block;
    position: absolute;
    top: 162px;
    left: 115px;
    z-index: 35;
    transform: rotate(-45deg);
    color: white;
    font-weight: lighter;
    text-decoration: none; }

@media screen and (min-width: 40rem), print {
  main {
    margin-bottom: 0px; }
  header {
    margin-right: 240px; }
    header h1 {
      margin: 0;
      padding: 0.2em 0 0;
      width: 100%;
      font-size: 5em;
      font-weight: lighter;
      text-align: right;
      line-height: 1em; }
    header h2 {
      text-align: right; }
    header h3 {
      text-align: left; }
  section#others {
    margin-right: 150px; }
  figure {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0; } }

@media screen and (min-width: 48rem) {
  main {
    margin-bottom: 0px; }
  .page {
    padding: 2em; }
  section.col {
    float: left;
    width: 31%;
    margin-right: 2.333%; } }

@media screen and (min-width: 60rem) {
  body {
    background-color: #333;
    background-image: url("./assets/background.png"); }
  .page {
    padding: 3em;
    margin: 3em auto 3em;
    width: 800px; } }

@media print {
  body {
    font: 67% Myriad Pro, Helvetica, sans-serif; }
  section#parcours {
    page-break-after: always; }
  header h1 {
    font-size: 45pt; }
  .page::before {
    display: none; }
  footer {
    display: none; } }
