doctype html
html( lang="fr-BE" )
  head
    meta( charset="UTF-8" )/
    title Julien Delnatte

    meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

    link( rel="stylesheet", href="assets/styles_cv.min.css" )/

    // Twitter Card
    meta( property="twitter:card", content="summary" )/
    meta( property="twitter:title", content="Delnatte Julien" )/
    meta( property="twitter:description", content="Site internet de Julien Delnatte" )/
    meta( property="twitter:image", content="http://julien.delnatte.be/assets/juliendelnatte.jpg" )/
    meta( property="twitter:creator", content="@juliendelnatte" )/

    // Facebook OpenGraph
    meta( property="og:type", content="profile" )/
    meta( property="og:title", content="Delnatte Julien" )/
    meta( property="og:site_name", content="julien.delnatte.be" )/
    meta( property="og:description", content="Site internet de Julien Delnatte" )/
    meta( property="og:image", content="http://julien.delnatte.be/assets/juliendelnatte.jpg" )/
    meta( property="og:locale", content="fr_BE" )/

    <!--[if lt IE 9]>
    script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
    <![endif]-->

  body
    .page
      main
        header
          h1
            | Julien Delnatte

          h2
            | Développeur full-stack, électronicien
            br/
            del coffee
            |  maker

        figure
          img( alt="Julien Delnatte", src="assets/juliendelnatte.jpg" )
          
          
        section#identity
          h3 Identité
          .content
            p Né le 
              time( datetime="1990-06-15" ) 15 juin 1990 
              span.strong (26 ans)  
            p.strong
              | Adresse : 
              a( href="https://www.google.be/maps/place/Liège/@50.F,5,7z" ) Liège (Belgique)
            p.phone.strong
              | Tel : 
              a( href="tel:0032472786675" ) +32 472 78 66 75
            p.mail.strong
              | Mail : 
              a( href="mailto:julien.delnatte@gmail.com" ) julien.delnatte@gmail.com
            p.site.strong
              | URL : 
              a( href="http://julien.delnatte.be", rel="nofollow" ) julien.delnatte.be

        section#studies
          h3 Cursus
          ol.content
            li
              h4 
                time( datetime="2008-09-01" ) 2008 
                | - 
                time( datetime="2011-06-30" ) 2011 
              p
                | Bachelor en Techniques Infographiques à la Haute Ecole de la Province de Liège

              p.description
                | PFE : Réalisation d'un jeux vidéo 3D temps-réel sur Facebook (BuroCrazy)
              p.skills
                | (Maya, AS3, Flash, MySQL, PHP, HTML5, CSS, JavaScript...)
            
            li
              h4 
                time( datetime="2006-09-01" ) 2006 
                | - 
                time( datetime="2008-06-30" ) 2008 
              p
                | 5
                sup ème 
                | et 6
                sup ème 
                | secondaires : Qualification en Infographie à l’Institut St-Luc Liège
                
        section#distinctions
          h3 Distinctions
          ol.content
            li
              h4 
                time( datetime="2011-06-30" ) 2011 
              p
                | Graduat obtenu avec grande distinction, prix du Collège Provincial de Liège et prix Fernand Petit
            
            li
              h4 
                time( datetime="2008-06-30" ) 2008 
              p
                | Qualification en Infographie à l’Institut St-Luc obtenue avec mention et félicitations du jury
                
        section#parcours
          h3 Expériences
          ol.content
            li
              h4 
                .time 
                  time( datetime="2015-01-01" ) Juin 2016 
                  | - 
                  time( datetime="2016-06-30" ) Mars 2017
              p.title
                | Développeur full-stack et électronicien chez 
                a( href="http://www.dagoma.fr/", rel="nofollow" ) Dagoma 
                | (Lille, France)
              p.description
                | Développement d'applications permettant la simplification de l'utilisation d'une imprimante 3D. 
                | Développement de cartes électroniques et de produits complets sur mesure (électronique, boitier imprimé, software...)
              p.skills
                | (Electron, Python, Eagle, Fusion360, Node.js, HTML5, CSS3, JavaScript...)
                
            li
              h4 
                .time 
                  time( datetime="2015-01-01" ) Janvier 2015 
                  | - 
                  time( datetime="2016-06-30" ) Mai 2016 
              p.title
                | Développeur full-stack et électronicien chez 
                a( href="http://www.neotrope.fr/", rel="nofollow" ) Néotrope 
                | (Lille, France)
              p.description
                | Création et développement d’un bracelet capteur d’émotions en Bluetooth. 
                | Réalisation des cartes électroniques, soudures, services web, application mobile de récupération des données en temps réel, application desktop d'affichage des données, firmware, form-factor en 3D... 
              p.skills
                | (Objective-C, Swift, Node.js, MQTT, Electron, HTML5, CSS, JavaScript, C, C++, Eagle...)
            
            li
              h4 
                .time 
                  time( datetime="2012-09-01" ) Septembre 2012 
                  | - 
                  time( datetime="2014-12-30" ) Décembre 2014 
              p.title
                | Développeur de jeux vidéo chez 
                a( href="https://www.ubisoft.com/", rel="nofollow" ) Ubisoft 
                | (Lille/Paris, France)

              p.description
                | Membre de l’équipe de développement du jeu «Ozen»
              p.skills
                | (AS3/Flex, AIR, JSFL, C++, HTML5, CSS, JavaScript...)
                
            li
              h4 
                .time 
                  time( datetime="2011-12-30" ) Décembre 2011 
                  | - 
                  time( datetime="2012-08-30" ) Août 2012
              p.title
                | Développeur multimédia chez 
                a( href="http://www.kylii-motion.com/", rel="nofollow" ) Kylii motion 
                | (Lille, France)

              p.description
                | Développement de jeux en 3D et d’un sdk Flex/AS3/Kinect pour bornes intéractives
              p.skills
                | (AS3/Flex, AIR, Shell, HTML5, CSS, JavaScript, C++, sockets, 3ds Max...)
                
            li
              h4 
                .time 
                  time( datetime="2011-07-01" ) Juillet 
                  | - 
                  time( datetime="2011-12-30" ) Décembre 2011
              p.title
                | Développeur multimédia chez 
                a( href="http://www.v-cult.com/", rel="nofollow" ) V-Cult 
                | (Lille, France)

              p.description
                | Développement et intégration intégrale d’applications sur Facebook
              p.skills
                | (AS3/Flex, PHP, MySQL, JavaScript...)
                
            li
              h4 
                .time 
                  time( datetime="2011-02-01" ) Février 
                  | - 
                  time( datetime="2011-05-30" ) Mai 2011
              p.title
                | Stage de fin d’étude chez 
                a( href="http://www.v-cult.com/", rel="nofollow" ) V-Cult 
                | (Lille, France)

              p.description
                | Modélisation/Skinning et développement des UV de personnages pour «Beloola»
              p.description
                | Développement et intégration d’un quizz musical sur Facebook
              p.skills
                | (3ds Max, AS3, PHP, MySQL, JavaScript...)
            
            li
              h4 
                .time 
                  time( datetime="2008-07-15" ) Juillet 
                  | - 
                  time( datetime="2008-08-15" ) Aout 2008 
                  | et 
                  time( datetime="2009-08-15" ) 2009
              p.title
                | Travail d’étudiant chez 
                a( href="http://www.com2b.be/", rel="nofollow" ) Com2b Networks 
                | (Bruxelles, Belgique)

              p.description
                | Intégration et développement AS3.
        
        section#perso
          h3 Projet personnel
          ol.content
            li
              h4 
                .time 
                  | Depuis 
                  time( datetime="2014-09-01" ) Septembre 2014
              p 
                | Concepteur de 
                a( href="http://www.sikwi.com/", rel="external" ) Sikwi 
                
              p.description
                | Création et conception d'un écosystème open-source de capteurs électroniques grands publics. 
                | Cartes électroniques de base en WiFi, 
                abbr(title="Bluetooth Low Energy") BLE
                | , NRF24 ou USB; shields de toutes sortes liés pour la plupart à la domotique; 
                | serveur de récupération, d'affichage et d'envoi de données en temps réel sur le cloud avec gestion de scénarios; 
                | programme de configuration de capteurs; serveur de build sur le cloud; 
                | boitiers soignés imprimables en 3D pour les différents capteurs...
              p.skills
                | (Node.js, MongoDB, MQTT, Docker, Electron, NW.js, PhoneGap/Cordova, HTML5, CSS, JavaScript, C, C++, Eagle, Fusion360...)
                  
        section.col#programming-languages
          h3 Langages
          dl.content
            dt Application
            dd
              | Electron, iOS natif (Objective-C / Swift), AIR 15, NW.js, PhoneGap / Cordova, C++, Qt...
            
            dt Client
            dd
              | HTML5, CSS3, Less, Sass, Stylus, JavaScript, jQuery, Aurelia, React, Ajax, Jade, Handelbars, JSON, XML...
            
            dt Serveur
            dd
              | Node.js, MongoDB, PHP, MySQL, PostgresQL, MQTT...
              
            dt AIR Platform
            dd
              | AS2, AS3, Flex 4.5+, Starling, Away3D, Flare3D, Alternativa3D, AMFPHP, RobotLegs, ANT...
              
            dt 3D
            dd
              | MEL
            
            dt Outils
            dd
              | Bash, Docker, Grunt, Gulp...

        section.col#tools
          h3 Outils &amp; Méthodologies
          dl.content
            dt Adobe Creative Suite CC
            dd
              | Animate, Illustrator, Photoshop, InDesign, After Effects, Premiere Pro...
            
            dt IDE
            dd
              | Atom, Xcode, Sublime Text, Eclipse, QtCreator...
            
            dt 3D
            dd
              | Fusion360, 3DsMax, Maya, ZBrush, Nuke...
                
            dt Électronique et domotique
            dd
              | Eagle, Atmel Studio, Arduino, AVRDUDE, PlatformIO, Fritzing, Jeedom, Domoticz...
            
            dt Gestion de versions
            dd
              | Git, Mercurial, SVN...
              
            dt Méthodologies
            dd
              | Scrum
          
            dt Imprimantes 3D
            dd
              | Cura, Simplify3D, MeshMixer...
        
        section.col#languages
          h3 Langues
          dl.content
            dt Français
            dd
              | Langue maternelle
            
            dt Anglais
            dd
              | Connaissances moyennes, compréhension à la lecture et à l'audition, maîtrise du langage technique
              
            dt Néérlandais
            dd
              | Bases
          
        section.col#systems
          h3 Systèmes
          dl.content
            dt MacOS
            dd
              | 10.5 jusqu'à 10.12 (système principal)
            
            dt Windows
            dd
              | XP jusqu'à 10
              
            dt Linux
            dd
              | Debian, Ubuntu, Arch Linux, Raspian...
        
        section#others
          h3 Divers
          ol.content
            li
              h4 
                | Centres d’intérêt : 
              p Développement open-source
              p Maker (impression 3D, conception mécanique, design produit, automatisation, robotique, open-hardware...)
              p Nouvelles technologies...
              p Musique (batterie, percussions, LiveLooping...)
              p Sport (fitness, course...)
          
            li
              h4
                | Permis de conduire
              p Voiture catégorie B, Trottinette catégorie Z
            
      footer
        a( href="http://julien.delnatte.be" ) julien.delnatte.be
        
        
        
        
        
        
        
        
        
        
        